<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_GeoIP>
            <version>1.0.0.2</version>
        </Loewenstark_GeoIP>
    </modules>
    <global>
        <models>
            <loewenstark_geoip>
                <class>Loewenstark_GeoIP_Model</class>
            </loewenstark_geoip>
        </models>
        <helpers>
            <loewenstark_geoip>
                <class>Loewenstark_GeoIP_Helper</class>
            </loewenstark_geoip>
        </helpers>
        <blocks>
            <loewenstark_geoip>
                <class>Loewenstark_GeoIP_Block</class>
            </loewenstark_geoip>
        </blocks>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <geoip_controller_action_predispatch>
                        <type>singleton</type>
                        <class>loewenstark_geoip/observer</class>
                        <method>redirectEvent</method>
                    </geoip_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Loewenstark_GeoIP>
                    <files>
                        <default>Loewenstark_GeoIP.csv</default>
                    </files>
                </Loewenstark_GeoIP>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <loewenstarkgeoip>
            <general>
                <mmdbpath>var/mmdb/GeoLite2-Country.mmdb</mmdbpath>
                <use_geoip2>1</use_geoip2>
            </general>
        </loewenstarkgeoip>
    </default>
</config>